
.nevpar{
background-color: crimson;
font-size: larger;
width: 100%;
display: flex;
justify-content:space-between;
text-align:center;
list-style:none ;
padding: 5px;
font-weight: bold;
}
.nevpar li {
padding: 10px;
margin: 10px;
cursor: pointer;
background-color: black;
color: aliceblue;
border-radius: 6px;
}